<div class="alert alert-<%=@result_type%>">
  <%= @result_msg %>
</div>

<form class="" action="game/new" method="post">
  <button type="submit" class="btn btn-large btn-primary">New Game</button>
</form>
