<h1><%= "#{session[:player].name}!"%> Make your bet!</h1>
<h2>You have $<%="#{session[:player].money}"%></h2>
<% if session[:player].bets > 0 %>
  <p>
    You are currently in a game with $<%=session[:player].bets%>. <br>
    If you want to continue on playing, click <a href="/game">here.</a> <br>
    Otherwise you'll lose all your current bets. <br>
  </p>
<% end %>

<form action="/game/bets" method="post">
  <span>Bet amount:</span>
  <br>
  <%= erb(:"partials/input_with_error", locals: { type: "text", name: "player_bets" }) %>
<button class="btn" type="submit">Submit</button>
</form>
